.dmart
{
    /* border: 1px solid black; */
    height: 45px;
    width:13%; 
}

/* this is div for location,search,add to kart*/
.bar{
    /* border: 1px solid black; */
    height: 31px;
    width: 86% ;
    float: right;
    margin-top: -47px;
    padding-top: 15px;
}

/* location  */
.location
{   text-decoration: none;
    color: green;
    font-size: larger;
    padding-inline: 75px;

}

/* search */
.search
{   text-decoration: none;
    color: green;
    font-size: larger;
    padding-inline: 75px;

}

/*  this is for search box */
#box
{
    height: 20px;
    width: 300px;
}

/* signup */
.signup
{   text-decoration: none;
    color: green;
    font-size: larger;
    padding-inline: 75px;

}

/* add to cart */
.addtokart
{   text-decoration: none;
    color: green;
    font-size: larger;
    padding-inline: 75px;

}

/* this is div for grocery , papad , floor ,cleaning */
.catogry
{   margin-top: 2%;
    border: 1px solid black;
    height: 50px;
}


/*this is for grocery, papad , floor cleaning */
.grocery
{   list-style: none;
    text-decoration: none;
    float: left;
    font-size: larger;
    color: black;
    padding-left: 200px;
    margin-top: 10px;
}



/* this is div for grocery , papad , floor ,cleaning */
.catogry
{   margin-top: 2%;
    border: 1px solid #cabebe;
    height: 50px;
}


/*this is for grocery, papad , floor cleaning */
.grocery
{   list-style: none;
    text-decoration: none;
    float: left;
    font-size: larger;
    color: black;
    padding-left: 200px;
    margin-top: 10px;
}

i
{
    font-size: larger;
    color: green;
}

.box
{
    /* border: 1px solid black; */
    margin-top: 2%;
    width: 95%;
    margin-left: 4%;
    height: 1020px;
}

/* this div for Floor cleaning div */
.box1
{
    margin-left: 70px;
    margin: 2%;
    border: 1px solid #cabebe;
    width: 20%;
    height: 460px;
    float: left;
}
/* this is for citrus */
.citrus
{
    margin-left: 50px;
    margin-top: 18px;
}

/* this is for liter and kilos */
.cart
{
    margin-left: 25px;
    width: 80%;
    height: 30px;
    background: yellowgreen;
    color: rgb(0, 0, 0);
    border-color: green;
    font-weight: bolder;
}
.Liter{
    width: 80%;
}

/*  for lizol img*/
.Lizol
{
    margin-left: 50px;
    margin-top: 20px;
}

 /*  for Jhadu img*/
.Jhadu
{
    margin-left: 50px;
    margin-top: 20px;
    height: 200px;

}

/*for bournvita img  */
.mopbucket
{
    margin-left: 50px;
    margin-top: 0px;
    height: 200px;
}

/*for  Harpic Disinfectant Toilet Cleaner  img  */
.Disinfectant
{
    margin-left: 50px;
    margin-top: 5px;
    height: 200px;
}

/*for surfexcel img  */
.surfexcel
{
    margin-left: 50px;
    margin-top: 5px;
    height: 200px;
}

/*for PaxClean HyGenius Disinfectant All Purpose Cleaner (Floral Bliss) 5L Combo with Refillable Spray Bottle img  */
.gulcond
{
    margin-left: 50px;
    margin-top: 5px;
    height: 200px;

}

/* for Harpic Disinfectant Toilet Cleaner Liquid, Original - 1 L (Pack of 3) img */
.mayonnaise
{
    margin-left: 50px;
    margin-top: 5px;
    height: 200px;

}

.end{
    border: 1px solid #cabebe;
    height: 250px;
    margin-top: 2%;
}

#footer
{
   /*border: 1px solid black;*/ 
     margin-top: 2%;
     margin-left: 200px;
     padding-left: 50px;
     float: left;
     height: px; 
     list-style: none;
     color: dark black;
 }
    

i{
    color: green;
    font-size: larger;

}

